<%= form_for(@scientman) do |f| %>
  <% if @scientman.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@scientman.errors.count, "error") %> prohibited this scientman from being saved:</h2>

      <ul>
      <% @scientman.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :person_id %><br />
    <%= f.select :person_id, Person.all.map{ |s| [s.first_name+" "+s.second_name+" "+s.last_name, s.id]} %>
  </div>
  <div class="field">
    <%= f.label :grade %><br />
    <%= f.text_field :grade %>
  </div>
  <div class="field">
    <%= f.label :job_title %><br />
    <%= f.text_field :job_title %>
  </div>
  <div class="field">
    <%= f.label :rank %><br />
    <%= f.text_field :rank %>
  </div>
  <div class="field">
    <%= f.label :start_date %><br />
    <%= f.datetime_select :start_date %>
  </div>
  <div class="field">
    <%= f.label :finish_date %><br />
    <%= f.datetime_select :finish_date %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
