<h1>Научные руководители</h1>

<table>
  <tr>
    <th>Человек</th>
    <th>Звание</th>
    <th>Должность</th>
    <th>Тема работы</th>
    <th>Начало работы</th>
    <th>Окончание работы</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @scientmen.each do |scientman| %>
  <tr>
    <td><%= scientman.person_id %></td>
    <td><%= scientman.grade %></td>
    <td><%= scientman.rank %></td>
    <td><%= scientman.job_title %></td>
    <td><%= scientman.start_date %></td>
    <td><%= scientman.finish_date %></td>
    <td><%= link_to 'Show', scientman %></td>
    <td><%= link_to 'Edit', edit_scientman_path(scientman) %></td>
    <td><%= link_to 'Destroy', scientman, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Добавить', new_scientman_path %>
