<p id="notice"><%= notice %></p>

<p>
  <b><%=Scientman.human_attribute_name(:person_id)%>:</b>
  <%= @scientman.person.full_name %>
</p>

<p>
  <b><%=Scientman.human_attribute_name(:job_title)%>:</b>
  <%= @scientman.job_title %>
</p>

<p>
  <b><%=Scientman.human_attribute_name(:rank)%>:</b>
  <%= @scientman.rank %>
</p>

<p>
  <b><%=Scientman.human_attribute_name(:start_date)%>:</b>
  <%= @scientman.start_date.strftime("%d.%m.%Y") %>
</p>

<p>
  <b><%=Scientman.human_attribute_name(:finish_date)%>:</b>
  <%= @scientman.finish_date.strftime("%d.%m.%Y") %>
</p>

<%= link_to 'Редактировать', edit_scientman_path(@scientman) %> |
<%= link_to 'Назад', scientmen_path %>
