<%= form_for(@mark) do |f| %>
  <% if @mark.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@mark.errors.count, "error") %> prohibited this mark from being saved:</h2>

      <ul>
      <% @mark.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :aspirant_id %><br />
    <%= f.select :aspirant_id, Person.all.map{|s| [s.first_name.to_s + " " + s.second_name.to_s + "" + s.last_name.to_s, s.id]} %>
  </div>
  <div class="field">
    <%= f.label :subject_id %><br />
    <%= f.select :subject_id, Subject.all.map{|s| [s.name.to_s, s.id]} %>
  </div>
  <div class="field">
    <%= f.label :value %><br />
    <%= f.select :value, options_for_select(0..5, @mark.value) %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
