<h1>Все оценки</h1>

<table>
  <tr>
    <th>Оценка</th>
    <th>Аспирант</th>
    <th>Предмет</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @marks.each do |mark| %>
  <tr>
    <td><%= mark.value %></td>
    <td><%= mark.aspirant_id %></td>
    <td><%= mark.subject_id %></td>
    <td><%= link_to 'Показать', mark %></td>
    <td><%= link_to 'Изменить', edit_mark_path(mark) %></td>
    <td><%= link_to 'Удалить', mark, :confirm => 'Вы уверены?', :method => :delete %></td>
  </tr>
<% end %>
</table>
<br />

<%= link_to 'Добавить оценку', new_mark_path %>
