<p id="notice"><%= notice %></p>

<p>
  <b><%=Mark.human_attribute_name(:value)%>:</b>
  <%= @mark.value %>
</p>

<p>
  <b><%=Mark.human_attribute_name(:aspirant_id)%>:</b>
  <%= @mark.aspirant.person.full_name %>
</p>

<p>
  <b><%=Mark.human_attribute_name(:subject_id)%>:</b>
  <%= @mark.subject.name %>
</p>

<%= link_to 'Изменить', edit_mark_path(@mark) %> |
<%= link_to 'Назад к оценкам', marks_path %>
