<h1>Список людей</h1>

<table>
  <tr>
    <th>Фамилия Имя Отчество</th>
    <th>Статус</th>
    <th></th>
    <th></th>
  </tr>

<% @people.each do |person| %>
  <tr>
    <td><%= link_to person.FIO, person %></td>
    <td><%= link_to person.get_status? %></td>
    <td><%= link_to 'Редактировать', edit_person_path(person) %></td>
    <td><%= link_to 'Удалить', person, :confirm => 'Вы уверены?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Новый человек', new_person_path %>
