<p id="notice"><%= notice %></p>

<p>
  <b><%=Person.human_attribute_name(:second_name)%>:</b>
  <%= @person.second_name %>
</p>

<p>
  <b><%=Person.human_attribute_name(:first_name)%>:</b>
  <%= @person.first_name %>
</p>

<p>
  <b><%=Person.human_attribute_name(:last_name)%>:</b>
  <%= @person.last_name %>
</p>

<p>
  <b><%=Person.human_attribute_name(:birthday)%>:</b>
  <%= @person.birthday.strftime("%d.%m.%Y") %>
</p>

<p>
  <b><%=Person.human_attribute_name(:telephone)%>:</b>
  <%= @person.telephone %>
</p>

<p>
  <b><%=Person.human_attribute_name(:email)%>:</b>
  <%= @person.email %>
</p>

<p>
  <b><%=Person.human_attribute_name(:male)%>:</b>
  <%= @person.sex %>
</p>

<p>
  <b><%=Person.human_attribute_name(:status)%>:</b>
  <%= @person.get_status? %>
</p>

<!--
<% if @person.scientman? %>
<p>
  <b>Научный руководитель:</b>
  <%= render :partial => "scientman", :locals => {:scientman => @person.scientman} %>
</p>
<% end %>

<% if @person.aspirant? %>
<p>
  <b>Аспирант:</b>
  <%= render :partial => "aspirant", :locals => {:aspirant => @person.aspirant} %>
</p>
<% end %>
-->

<%= link_to 'Изменить', edit_person_path(@person) %> |
<%= link_to 'Назад', people_path %>
