<p id="notice"><%= notice %></p>

<p>
  <b><%= Chair.human_attribute_name(:name) %>:</b>
  <%= @chair.name %>
</p>

<p>
  <b><%= Chair.human_attribute_name(:number) %>:</b>
  <%= @chair.number %>
</p>

<p>
  <b><%= Chair.human_attribute_name(:specialities) %>:</b>
  <table>
  <tr><td><b>Название:</td><td><b>Код:</td>
  <% @chair.specialities.each do |s| %>
	<tr><td><%= s.name %></td>  <td><%= s.key_specialiti %></td></tr>
  <% end %>
  </table>
</p>


<%= link_to 'Изменить', edit_chair_path(@chair) %> |
<%= link_to 'Назад к списку кафедр', chairs_path %>
