<p id="notice"><%= notice %></p>

<p>
  <b><%= Chair.human_attribute_name(:name) %>:</b>
  <%= @chair.name %>
</p>

<p>
  <b><%= Chair.human_attribute_name(:number) %>:</b>
  <%= @chair.number %>
</p>


<%= link_to 'Изменить', edit_chair_path(@chair) %> |
<%= link_to 'Назад к списку кафедр', chairs_path %>
