<%= form_for(@aspirant) do |f| %>
  <% if @aspirant.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@aspirant.errors.count, "error") %> prohibited this aspirant from being saved:</h2>

      <ul>
      <% @aspirant.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :person_id %><br />
    <%= f.select :person_id, Person.where(:status => 2).map{ |s| [s.full_name, s.id]} %>
  </div>
  <div class="field">
    <%= f.label :aspirant_type %><br />
    <%= f.select :aspirant_type, options_for_select([["Аспирант", 0], ["Докторант", 1], ["Соискатель",2]], @aspirant.aspirant_type) %>
  </div>
  <div class="field">
    <%= f.label :start_study_date %><br />
    <%= f.date_select :start_study_date %>
  </div>
  <div class="field">
    <%= f.label :maybe_finish_date %><br />
    <%= f.date_select :maybe_finish_date %>
  </div>
  <div class="field">
    <%= f.label :finish_study_date %><br />
    <%= f.date_select :finish_study_date, :end_year => Time.now.year+15 %>
  </div>
  <div class="field">
    <%= f.label :scientman_id %><br />
    <%= f.select :scientman_id, Scientman.all.map{ |s| [s.person.full_name, s.id]} %>
    </div>
  <div class="field">
    <%= f.label :study_form %><br />
    <%= f.select :study_form, options_for_select([["Очная, коммерческая", 0], ["Очная, бюджетная", 1], ["Заочная, коммерческое",2]], @aspirant.study_form) %>
  </div>
  <div class="field">
    <%= f.label :protect_status %><br />
    <%= f.check_box :protect_status %>
  </div>
  <div class="field">
    <%= f.label :protect_data %><br />
    <%= f.date_select :protect_data %>
  </div>
  <div class="field">
    <%= f.label :payment %><br />
    <%= f.check_box :payment %>
  </div>
  <div class="field">
    <%= f.label :speciality_id %><br />
    <%= f.select :speciality_id, Speciality.all.map{ |s| [s.name, s.id]} %>
  </div>
  <div class="field">
    <%= f.label :skip %><br />
    <%= f.number_field :skip %>
  </div>
  <p><%= link_to_add_fields "Добавить пропуск", f, :skippings %></p>
  <%= f.fields_for :skippings do |builder| %>
    <%= render "skipping_fields", :f => builder %>
  <% end %>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
