<h1>Список аспирантов</h1>

<table>
  <tr>
    <th>Аспирант</th>
    <th>Тип аспиранта</th>
    <th>Начало обучения</th>
    <th>Предположительное окончание обучения</th>
    <th>Окончание обучения</th>
    <th>Научный руководитель</th>
    <th>Форма обучения</th>
    <th>Статус защиты</th>
    <th>Дата защиты</th>
    <th>Оплата текущего семестра</th>
    <th>Специальность</th>
    <th>Звание</th>
    <th>Начало периода</th>
    <th>Конец периода</th>
    <th>Всего пропущено</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @aspirants.each do |aspirant| %>
  <tr>
    <td><%= aspirant.person.full_name %></td>
    <td><%= aspirant.asptype %></td>
    <td><%= aspirant.start_study_date.strftime("%d.%m.%Y") %></td>
    <td><%= aspirant.maybe_finish_date.strftime("%d.%m.%Y") %></td>
    <td><%= aspirant.finish_study_date.strftime("%d.%m.%Y") %></td>
    <td><%= aspirant.scientman_id %></td>
    <td><%= aspirant.studyform %></td>
    <td><%= aspirant.protect_status %></td>
    <td><%= aspirant.protect_data.strftime("%d.%m.%Y") %></td>
    <td><% if aspirant.payment %>
			<%= "Оплачено" %>
			<% else %>
			<%= "Задолженность" %>
		<% end %>
    <!--<%= aspirant.payment %>--></td>
    <td><%= aspirant.specialiti_id %></td>
    <td><%= aspirant.rank %></td>
    <td><%= aspirant.start_date.strftime("%d.%m.%Y") %></td>
    <td><%= aspirant.finish_date.strftime("%d.%m.%Y") %></td>
    <td><%= aspirant.skip %></td>
    <td><%= link_to 'Показать', aspirant %></td>
    <td><%= link_to 'Изменить', edit_aspirant_path(aspirant) %></td>
    <td><%= link_to 'Удалить', aspirant, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Новый аспирант', new_aspirant_path %>
