<p id="notice"><%= notice %></p>

<p>
  <b><%=Aspirant.human_attribute_name(:person_id)%>:</b>
  <%= @aspirant.person.full_name %>
</p>

<p>
  <b><%=Aspirant.human_attribute_name(:aspirant_type)%>:</b>
  <%= @aspirant.asptype %>
</p>

<p>
  <b><%=Aspirant.human_attribute_name(:start_study_date)%>:</b>
  <%= @aspirant.start_study_date.strftime("%d.%m.%Y") %>
</p>

<p>
  <b><%=Aspirant.human_attribute_name(:maybe_finish_date)%>:</b>
  <%= @aspirant.maybe_finish_date.strftime("%d.%m.%Y") %>
</p>

<p>
  <b><%=Aspirant.human_attribute_name(:finish_study_date)%>:</b>
  <%= @aspirant.finish_study_date.strftime("%d.%m.%Y") %>
</p>

<p>
  <b><%=Aspirant.human_attribute_name(:scientman_id)%>:</b>
  <%= @aspirant.scientman_id %>
</p>

<p>
  <b><%=Aspirant.human_attribute_name(:study_form)%>:</b>
  <%= @aspirant.studyform %>
</p>

<p>
  <b><%=Aspirant.human_attribute_name(:protect_status)%>:</b>
  <%= @aspirant.protect_status %>
</p>

<p>
  <b><%=Aspirant.human_attribute_name(:protect_data)%>:</b>
  <%= @aspirant.protect_data.strftime("%d.%m.%Y") %>
</p>

<p>
  <b><%=Aspirant.human_attribute_name(:payment)%>:</b>
  <% if @aspirant.payment %>
      <%= "Оплачено" %>
	<% else %>
	  <%= "Задолженность" %>
  <% end %>
</p>

<p>
  <b><%=Aspirant.human_attribute_name(:specialiti_id)%>:</b>
  <%= @aspirant.specialiti_id %>
</p>

<p>
  <b><%=Aspirant.human_attribute_name(:rank)%>:</b>
  <%= @aspirant.rank %>
</p>

<p>
  <b><%=Aspirant.human_attribute_name(:start_date)%>:</b>
  <%= @aspirant.start_date.strftime("%d.%m.%Y") %>
</p>

<p>
  <b><%=Aspirant.human_attribute_name(:finish_date)%>:</b>
  <%= @aspirant.finish_date.strftime("%d.%m.%Y") %>
</p>

<p>
  <b><%=Aspirant.human_attribute_name(:skip)%>:</b>
  <%= @aspirant.skip %>
</p>

<%= link_to 'Изменить', edit_aspirant_path(@aspirant) %> |
<%= link_to 'Назад к списку аспирантов', aspirants_path %>
