<p id="notice"><%= notice %></p>

<p>
  <b>Aspirant type:</b>
  <%= @aspirant.aspirant_type %>
</p>

<p>
  <b>Start study date:</b>
  <%= @aspirant.start_study_date %>
</p>

<p>
  <b>Maybe finish date:</b>
  <%= @aspirant.maybe_finish_date %>
</p>

<p>
  <b>Finish study date:</b>
  <%= @aspirant.finish_study_date %>
</p>

<p>
  <b>Scientman:</b>
  <%= @aspirant.scientman_id %>
</p>

<p>
  <b>Study form:</b>
  <%= @aspirant.study_form %>
</p>

<p>
  <b>Protect status:</b>
  <%= @aspirant.protect_status %>
</p>

<p>
  <b>Protect data:</b>
  <%= @aspirant.protect_data %>
</p>

<p>
  <b>Payment:</b>
  <%= @aspirant.payment %>
</p>

<p>
  <b>Specialiti:</b>
  <%= @aspirant.specialiti_id %>
</p>

<p>
  <b>Skip:</b>
  <%= @aspirant.skip %>
</p>

<p>
  <b>Rank:</b>
  <%= @aspirant.rank %>
</p>

<p>
  <b>Start date:</b>
  <%= @aspirant.start_date %>
</p>

<p>
  <b>Finish date:</b>
  <%= @aspirant.finish_date %>
</p>

<p>
  <b>Person:</b>
  <%= @aspirant.person_id %>
</p>


<%= link_to 'Edit', edit_aspirant_path(@aspirant) %> |
<%= link_to 'Back', aspirants_path %>
