<%= form_for(@speciality) do |f| %>
  <% if @speciality.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@speciality.errors.count, "error") %> prohibited this speciality from being saved:</h2>

      <ul>
      <% @speciality.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :key_specialiti %><br />
    <%= f.text_field :key_specialiti %>
  </div>
  <div class="field">
   <%= f.label :chair_id %><br />
   <%= f.select :chair_id, Chair.all.map{ |s| [s.name, s.id]} %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
