<p id="notice"><%= notice %></p>

<p>
  <b><%=Speciality.human_attribute_name(:name)%>:</b>
  <%= @speciality.name %>
</p>


<%= link_to 'Редактировать', edit_speciality_path(@speciality) %> |
<%= link_to 'Назад', specialities_path %>
